<launch>
        <!-- lead vehicle -->
        <node 
        pkg="plat_nav" 
        name="control_veh_lead" 
        type="plat_nav_dAheadController.py"
        args="leadvehicle" 
        output="screen"/>
        <!-- vehicle 1 -->
        <node 
        pkg="plat_nav" 
        name="control_veh_1" 
        type="plat_nav_dAheadController.py"
        args="stringvehicle1" 
        output="screen"/>
        <!-- vehicle 2 -->
        <node 
        pkg="plat_nav" 
        name="control_veh_2" 
        type="plat_nav_dAheadController.py"
        args="stringvehicle2" 
        output="screen"/>
</launch>